In [21]:
import pandas as pd
import sqlalchemy as sa

In [43]:
mmr_data = 'mmr_rates.csv'
aut_data = 'autism_rates.csv'

vax_df_one = pd.read_csv('mmr_rates.csv', encoding="ISO-8859-1")
aut_df_one = pd.read_csv('autism_rates.csv', encoding="ISO-8859-1", header=1)

In [44]:
vax_df_two= vax_df_one[['Names','2000','SAMPLE SIZE','2001','SAMPLE SIZE.1','2002','SAMPLE SIZE.2','2003','SAMPLE SIZE.3','2004','SAMPLE SIZE.4','2005','SAMPLE SIZE.5','2006','SAMPLE SIZE.6','2007','SAMPLE SIZE.7','2008','SAMPLE SIZE.8','2009','SAMPLE SIZE.9','2010','SAMPLE SIZE.10','2011','SAMPLE SIZE.11','2012','SAMPLE SIZE.12','2013','SAMPLE SIZE.13','2014','SAMPLE SIZE.14','2015','SAMPLE SIZE.15','2016','SAMPLE SIZE.16','2017','SAMPLE SIZE.17']].copy()

In [45]:
vax_df_two.head()

,Names,2000,SAMPLE SIZE,2001,SAMPLE SIZE.1,2002,SAMPLE SIZE.2,2003,SAMPLE SIZE.3,2004,...,2013,SAMPLE SIZE.13,2014,SAMPLE SIZE.14,2015,SAMPLE SIZE.15,2016,SAMPLE SIZE.16,2017,SAMPLE SIZE.17
0,Alabama,86.8,580.0,94.3,592.0,91.6,525.0,91.2,532.0,91.8,...,89.7,166.0,92.0,237.0,95.2,272.0,91.1,249.0,92.3,295.0
1,AL-Jefferson County,87.4,294.0,93.2,277.0,91.1,258.0,94.1,252.0,89.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AL-Rest of State,86.6,286.0,94.5,315.0,91.7,267.0,90.7,280.0,92.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Alaska,87.9,295.0,87.8,292.0,88.7,262.0,90.7,278.0,89.7,...,90.5,299.0,90.2,276.0,89.7,295.0,85.6,288.0,89.3,251.0
4,Arizona,88.1,595.0,88.8,592.0,88.9,558.0,91.5,612.0,92.9,...,91.4,254.0,84.1,292.0,90.6,266.0,87.7,230.0,91.7,265.0

In [46]:
aut_df_two = aut_df_one[['year', 'abbr', 'male.prev', 'female.prev']].copy()
aut_df_two.head()

   year abbr  male.prev  female.prev
0  2000   AZ        9.7          3.2
1  2000   GA       11.0          2.0
2  2000   MD        8.6          2.2
3  2000   NJ       14.8          4.3
4  2000   SC        9.3          3.3

KeyError: 'Names'

In [ ]:
df[~df.C.str.contains("XYZ")]